.page-not-found
  min-height 100vh
  padding 15px
  .container
    max-width 940px
    height auto
    margin 0 auto
    padding 15px
    .icon-container
      .icon
        img
          margin 0 auto
          display block
          &.tossing
            animation-name tossing
            animation-duration 2.5s
            animation-iteration-count infinite
          @keyframes tossing
            0%
              transform rotate(-4deg)
            50%
              transform rotate(4deg)
            100%
              transform rotate(-4deg)
      .text
        margin-top 30px
        text-align center
        h1
          margin 0 0 15px 0
          padding 0
          color #424242
        h2
          margin 0 0 10px 0
          padding 0
          color #616161
        p
          margin 0 0 10px 0
          padding 0
          color #616161
        .button
          margin-top 15px
          -webkit-appearance none
          margin 0
          border none
          overflow visible
          font inherit
          color #444
          text-transform none
          display inline-block
          box-sizing border-box
          padding 0 12px
          background #eee
          vertical-align middle
          line-height 30px
          min-height 30px
          font-size 1rem
          text-decoration none
          text-align center
          border-radius 2px

          font-weight 700
          padding 12px 18px

          background #3f52b8
          color #fff
          &:hover
            background #2c3ea1
